@import url(http://fonts.googleapis.com/css?family=Dosis:400,600|Open+Sans:400italic,600italic,400,600|Oswald);

$primary-color:#560057;
$header-font: 'Oswald', sans-serif;
$nav-font : 'Dosis', sans-serif;
$header-color: #66520C;


@mixin shadow ($shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.9)){
-webkit-box-shadow: $shadow;
-moz-box-shadow: $shadow;
box-shadow: $shadow;}

@mixin transition($transition){
  -webkit-transition: $transition;
  -moz-transition: $transition;
  transition: $transition;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;

}

.wrapper {
  width: 1300px;
  margin: auto;
}

h2 {
  font-size: 35px;
  color: $header-color;
  font-family: $header-font;
  text-align: center;
  margin-right: 45px;

}

nav, article {

  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
}

nav {
  width: 14%;
  margin-top: 130px;
  margin-right: 10px;
  a {
    color: $primary-color;
    text-align: center;
    text-decoration: none;
    font-family: $nav-font;
    font-size: 24px;
    display: block;
    padding: 20px;
    &:hover {
      background-color:$primary-color;
      color: white;
    }

  }
}

article {
  width: 85%;
}

img {
  border: 1px solid $header-color;
  border-radius: 10px;
  @include shadow;

}

.lgImage {
  width: 1300px;
  margin: 30px auto;
}


/*jquery*/

nav, article {
  display: none;
}

.allAlbums {
  display: none;
  text-align: center;
}


.image {
  display: none;
  /* width: 800px; */
/*   margin-left:25%;
 */  margin-top: 20%;
  @include transition(all 3s ease);
    img {
      margin: auto;
      border-radius: 0;
  }

  }

  h3 {
    display: none;
    vertical-align: top;
    float: left;
    font-family: $header-font;
    color: $header-color;
    font-size: 1.7em;
    margin-left: 20px;
    cursor: pointer;
  }


.active {
  display: inline-block;
  float: left;
}

.activeNav {
  background-color: $primary-color;
  color: white;
}

.activeNav a {
  color: white;
}
